<h1>Welcome to Real Cost</h1>

<p>
  Please sign-in/sign-up before using the site.
  <div>
    <%= link_to "sign-in/sign-up", users_path %>
  </div>
  Current user is:
  <% if current_user %>
  <%= current_user.full_name %>
  <% else %>
  ***Not signed in***
  <% end %>
</p>

<p>
  What is Real Cost?

  This site allows you to find the real cost of any purchase. It uses your initial cost and some basic attributes of the item being purchased and calculates the additional cost that may not be apparent to the tyical consumer. A Dog purchase is used here as an example.

</p>

<p>
  How to use Real Cost.

  Click in a catagory. Then enter the appropriate values in the input field provided. When ready, name and save the scenario you just created. You can then see a user friendly display of the real cost of the item. You can also compare three scenarios that you saved.
</p>

<p>
<%= form_tag(dogs_path, method: "get") do %>
<%= collection_select(:category, :category_name, Category.all, :name, :name) %>
<%= submit_tag "Get Real Cost Category"  %>
<% end %>

</p>
