<h1>Welcome to Real Cost</h1>

<p>
  Please sign-in/sign-up before using the site.
  <div class = "col-md-4">
    <%= link_to "sign-in/sign-up", users_path, class: "form-control" %>
  </div>
  Current user is:
  <% if current_user %>
    <%= current_user.full_name %>
  <% else %>
    ***Not signed in***
  <% end %>
</p>
<br>

<p>
  What is Real Cost?

  This site allows you to find the real cost of any purchase. It uses some basic attributes of the item being purchased and calculates the additional cost that may not be apparent to the typical consumer.
</p>

<p>
  How do you use Real Cost?

  Click in a catagory. Then enter the appropriate values in the input field provided. When ready, name and save the scenario you just created. You can then see a user friendly graph of the real cost of the item.
</p>
<br>
<p>
  <%= form_tag(dogs_path, method: "get") do %>
    <div class = "col-md-4">
      <%= collection_select(:category, :category_name, Category.all, :name, :name, {}, class: "form-control") %>
    </div>
    <div class = "col-md-4">
      <%= submit_tag "Get Real Cost Category", class: "form-control"  %>
    </div>
  <% end %>

</p>
  <div id = "graph" value = <%= [].to_json %> >
</div>
